@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 1rem;
}

form {
  height: 5rem;
  margin-bottom: 3rem;
}

input, button {
  border: 0;
  outline: none;
}

.input-container {
  position: relative;
  width: 30rem;
  height: 100%;
  display: flex;
  align-items: center;
}

#url-input {
  border-radius: 50rem;
  height: 3rem;
  padding: 0 3rem 0 1.5rem;
  position: absolute;
  width: 100%;
  color: #222;
  font-weight: 600;
  font-size: 0.9rem;
}

#download-btn {
  color: #222;
  background-color: #d9eb52;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  right: 0.25rem;
  cursor: pointer;
  transition: all 300ms ease-out;
}

#download-btn:hover {
  background-color: #bfcf47;
}

#download-btn > svg {
  transform: translateY(2px) rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .input-container {
    width: 20rem;
  }
}